* {
  padding: 0;
  margin: 0;
  font-family: "Avenir Next";
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.header-menu li {
  float: left;
}

header {
  height: 90px;
  background-color: #23bfff;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float: left;
  color: #fff;
}

.header-menu ul {
  float: right;
  margin-right: 100px;
}

.header-menu li {
  padding: 33px 20px;
}

.main {
  padding: 80px 40px;
}

.copy-container h1 {
  font-size: 140px;
  font-variant: small-caps;
}

.copy-container h2 {
  font-size: 45px;
}

.copy-container span {
  color: #ff0000;
}

.contents {
  height: 400px;
}

.section-title {
  font-size: 30px;
  margin-top: 100px;
  border-bottom: 2px solid #dedede;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.content-item {
  float: left;
  margin-right: 30px;
}

.content-item p {
  padding-top: 15px;
  font-size: 20px;
}

.contact-form {
  padding-top: 100px;
}

input,
textarea {
  width: 400px;
  padding: 20px;
  margin: 10px 0 30px 0;
  font-size: 18px;
  border: 1px solid #cecece;
  outline: none;
  border-radius: 5px;
}

input[type="text"]:focus,
textarea:focus {
  border: 1px solid #0dcaf0;
  box-shadow: 2px 2px rgba(43, 248, 255, 0.5);
}

.contact-submit {
  width: 440px;
  background-color: #b1b1b1;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 8px #757575;
}

.contact-submit:active {
  position: relative;
  top: 8px;
  left: 0;
  box-shadow: none;
}

footer {
  height: 140px;
  padding: 40px;
  background-color: #202234;
}

.footer-logo {
  font-size: 32px;
  color: #fff;
  float: left;
}

.footer-menu {
  float: right;
}

.footer-menu li {
  padding-bottom: 20px;
}
